<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
<h1>welcome to signup page</h1>
<form method="post">
    {% csrf_token %}
    User:<input type="text" placeholder="enter user name" name="txtname" required><br>
    Email:<input type="email" placeholder="enter email" name="txtmail" required><br>
    Password:<input type="password" placeholder="enter password" name="pswd" required><br>
    Confirm Password:<input type="password" placeholder="enter confirm password" name="cpswd" required><br>
<button type ='submit'>signup</button>

    {% for message in messages %}
    <h5 style="color:red">{{ message }}</h5>
    {% endfor %}

</form>
<p>if Existing user <a href="{% url 'login' %}">Login</a></p>
</body>
</html>