
{% extends 'base.html' %}
{% block content %}
<div class="form-container">
    <div class="card-form">
    <h2>{{ action }} Student</h2>

    <form method="post">
        {% csrf_token %}

        <label>Student Name:</label>
        <input type="text" name="student_name" value="{{ student_data.name|default:'' }}" required><br><br>

        <label>Email:</label>
        <input type="email" name="student_email" value="{{ student_data.email|default:'' }}" required><br><br>

        <label>Education:</label>
        <input type="text" name="education" value="{{ student_data.education|default:'' }}" required><br><br>

        <label>Course:</label>
        <input type="text" name="course" value="{{ student_data.course|default:'' }}" required><br><br>

        <label>Total Fee:</label>
        <input type="number" step="0.01" name="total_fee" value="{{ student_data.total_fee|default:'' }}" required><br><br>

        <label >Fee Paid:</label>
        <input type="number" step="0.01" name="fee_paid" value="{{ student_data.paid_fee|default:'' }}" required><br><br>

        <button type="submit">{{ action }} Student</button>
    </form>

{% for message in messages %}
    <h5 style="color:red">{{ message }}</h5>
    {% endfor %}
    </div>
    </div>

{% endblock %}